/* Variables */

:root{
    /*palette_couleurs*/
    --bleu_fonce: #0065fc;
    --bleu_clair: #DEEBFF;
    --gris_1: #f2f2f2;
    --gris_2: #d9d9d9;
}

/* Bloc Principal*/

body{
    font-family: Raleway,sans-serif;
    margin: auto;
    max-width: 1400px; 
}
main{
    margin: 0 5% 0 5%;
}

/* proprietes generales*/

h1, h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 5% 0 5%;
    margin-bottom: 40px;
}
.logo{
    height: 23px;
}
#header ul{
    display: flex;
    list-style: none;
}
#header a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding: 0 30px 0 30px;
}
#header a:hover{
    color: var(--bleu_fonce);
    border-top: solid 2px;
    padding-top: 44px;
}

/* section Formulaire*/

.formulaire_recherche{
    margin: 30px 0 30px 0;
}
.icone_localisation{
    width: 5%;
    max-width: 25px;
    padding: 12px;
    border: 2px solid var(--gris_1);
    border-radius: 15px 0 0 15px;
    background-color: var(--gris_1);
    text-align: center;
}
.input-submit{
    font-size: 18px;
    size: 10;
    border-radius: 0 15px 15px 0;
    background-color: var(--bleu_fonce);
    color:white;
    border: 2px solid var(--bleu_fonce);
    padding: 12px;
}
.formulaire_recherche input{
    max-width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 12px;
    border: 2px solid var(--gris_1);
}
.localisation_bouton_texte_rechercher{
    display: flex;
}
.localisation_bouton_icone_loupe{
    display: none;
}
.bouton_loupe{
    width: 50px;
    border: 2px solid var(--bleu_fonce);
    border-radius: 0 15px 15px 0;
    background-color: var(--bleu_fonce);
}

/* Icones */

.fa-location-dot{
    font-size: 18px;
}
.fa-info{
    color: var(--bleu_fonce);
}
.fa-magnifying-glass{
color: white;
}

/* Filtres de recherche*/

.filtres{
    max-width: 100%;
    width: 950px;
    height: 50px;
    margin: 50px 0 38px 0;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtre{
    padding: 15px;
    border: 2px solid var(--gris_2);
    border-radius: 25px;
}
.filtre:hover{
    background-color: var(--bleu_clair);
}
.fa_filtres{
    font-size: 18px;
    color: var(--bleu_fonce);
    margin-right: 10px;
}

/*Ligne information nb de logements*/

.info_nb_logements{
    display: flex;
    align-items: center;
}
.fa-info{
    font-size: 12px;
    width: 25px;
    height: 20px;
    border: 2px solid var(--gris_1);
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
}

/*section hébergements*/

#hebergements{
    display: flex;
    justify-content: space-between;
    
}
.hebergements{
    width: 64%;
    background-color: var(--gris_1);
    border-radius: 20px;
}
.cards_hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards_hebergements a{
    text-decoration: none;
    color: black;
}
.card_hebergement_lien{
    width: 27%;
}
.card_hebergement{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--gris_2);
    margin:0 0 30px 0; 
}
.hebergements img{
    object-fit: cover;
    width: 96%;
    height: 120px;
    margin: 2%;
    border-radius: 20px 20px 0 0;
}
.hebergements h2{
    margin: 40px 0 25px 3%;
}
.hebergements h3{
    margin: 0 0 5px 15px;
}
.hebergements p{
    margin: 0 0 5px 15px;
    font-size: 14px;
}
.hebergements_cotation{
    padding-bottom: 10px;
}
.afficher_plus{
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 40px 1%;
}

/* hebergements populaires*/

.hebergements_populaires{
    width: 33%;
    position: relative;
    background-color: var(--gris_1);
    border-radius: 20px;
}
.hebergements_populaires h2{
    margin: 40px 0 25px 11%;
}
.hebergements_populaires h3{
    margin: 16px 0 9px 15px;
}
.hebergements_populaires p{
    margin: 0 0 9px 15px;
    font-size: 14px;
}
.cards_populaires{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.cards_populaires a{
    text-decoration: none;
    color: black;
}
.card_populaire_lien{
    width: 80%;
}
.card_populaire_flex{
    display: flex;
}
.card_populaire{
    width: 95%;
    height: 144px;
    margin:0 0 30px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--gris_2);
    background-color: white;
}
.card_populaire_image{
    width: 40%;
}
.card_populaire_texte{
    position: relative;
    width: 60%;
}
.card_populaire img{
    object-fit: cover;
    width: 100%;
    height: 134px;
    margin: 5px;
    border-radius: 20px 0 0 20px;
}

.fa-chart-line{
    font-size: 18px;
    color: var(--bleu_fonce);
    position: absolute;
    top:43px;
    right: 8%;
}

/*cotations etoiles*/

.fa-star{
    font-size: 12px;
    color:var(--bleu_fonce);
}
.fa-star-grise{
    color: var(--gris_1);
}
.hebergements_cotation{
    display: flex;
    margin-left: 15px;
}
.hebergements_cotation p{
    margin: 0;
    width: 15px;
}
.cotation_populaire{
    position: absolute;
    bottom: 5px;
    
}

/* activites */

.cards_activites{
    display: flex;
    justify-content: space-between;
}
.card_activite_lien{
    width: 22%;
}
.card_activite{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--gris_2);
}
.card_activite img{
    display: block;
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card_activite_h3{
    height: 15%;
    margin: 0 0 0 5%;
    display: flex;
    align-items: center;
}
.card_activite_h3 h3{
    margin: 0;
}
#activites h2{
    margin: 60px 0 25px 0;
}
.cards_activites a{
    text-decoration: none;
    color: black;
}

/* footer */

#footer{
    height: 200px;
    margin: 60px 5% 0 5%;
    padding-top: 45px;
    background-color: var(--gris_1);
    display: flex;
    justify-content: space-around;
}
#footer h2{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
}
#footer ul{
    list-style: none;
    padding: 0;
}
#footer a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin-bottom: 12px;
}
#footer a:hover{
    color: var(--bleu_fonce);
}

/* Responsive */

/* Tablette */

@media screen and (max-width: 991px)  {

    /* Filtres */

    .fa_filtres{
    margin: 0 5px 0 5px;
    }
    .filtres{
        width: 750px;
        font-size: 15px;
    }
    .filtre{
        padding: 10px;
    }

    /* Hebergements */

    #hebergements{
        flex-direction: column;  
    }
    .hebergements{
        width: 100%;
        margin-bottom: 50px;
    }

    /* Hebergements populaires */

    .hebergements_populaires{
        width: 100%;
        height: 280px;
    }
    .hebergements_populaires h2{
        margin-left: 3%;
    }
    .cards_populaires{
        width: 100%;
        flex-direction: row;
    }
    .card_populaire_lien{
        width: 29%;
    }
    .card_populaire{
        width: 100%;
    }
    .fa-chart-line{
        right: 5%;
    }

    /* Activites */

    .card_activite{
        height: 290px;
    }
    .card_activite img{
        height: 80%;
    }
    .card_activite_h3{
        height: 20%;
    }
}

/* Mobile */

@media screen and (max-width: 767px) {
    
    #main{
        margin: 0;
    }

    /* Header */

    #header{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .menu{
        width: 100%;
    }
    #header ul{
        padding: 0;
        margin-top: 40px;
    }
    #header li{
        width: 50%;
        text-align: center;
    }
    #header a{
        display: block;
        margin: auto;
        padding-bottom: 25px;
        border-bottom: solid 2px var(--gris_1);
    }
    #header a:hover{
        border-top: 0;
        border-bottom: solid 2px;
        padding: 0 0 25px 0;
    }

    /* Titre page*/

    .titre_page{
        margin-left: 5%;
    }

    /* section Formulaire*/
    .formulaire_recherche{
        margin-left: 5%;
    }
    .localisation_bouton_texte_rechercher{
        display: none;
    }
    .localisation_bouton_icone_loupe{
        max-width: 100%;
        display: flex;
        justify-content:last flex-start;
        margin-top: 40px;
        margin-bottom: 30px;
    }

      /* Filtres */

    .fa_filtres{
    font-size: 16px;
    }  
    .filtres{
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        height: auto;
        margin: 0;
        justify-content:flex-start;
        flex-wrap: wrap;
    }
    .filtre{
       width: 37%;
       margin-right: 20px;      
    }
    .filtres_texte{
        width: 100%;
        margin-top: 0;
        font-size: 18px;
    }
    .info_marseille{
        justify-content: flex-start;
        margin-bottom: 30px;
        padding-left: 10px;
    }
    .info_nb_logements{
        margin: 40px 0 40px 0; 
    }
   
     /* Hebergements */

     #hebergements{
        flex-direction:column-reverse;
        justify-content:flex-start;
        margin: 0; 
    }
    .hebergements{
        width: 100%;
        margin-bottom: 50px;
    }

    /* Hebergements Marseille */

    .hebergements{
        width: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .hebergements img {
        width: 98%;
        margin: 1%;
    }
    .hebergements h2{
        margin-bottom: 4%;
        margin-left: 5%;
        margin-top: 30px;
    }
    .cards_hebergements{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card_hebergement_lien{
        width: 90%;
    }
    .card_hebergement{
        box-shadow: 5px 5px 10px var(--gris_2);
    }
    .afficher_plus{
        display: none;
    }

     /* Hebergements populaires */

     .fa-chart-line{
        top:35px;
    }

     .hebergements_populaires{
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .hebergements_populaires h2{
        margin-left: 5%;
        margin-bottom: 4%;
        margin-top: 30px;
    }
    .cards_populaires{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .card_populaire_lien{
        width: 90%;
    }

    /* Activites */

    #activites{
        margin: 0;
    }
    #activites h2{
        margin: 0 0 3% 5%;
    }
    .cards_activites{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card_activite_lien{
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
    .card_activite{
        height: 225px;
    }
    .card_activite img{
        height: 70%;
    }
    .card_activite_h3{
        height: 30%;
        margin-left: 15px;
    }
    
    /* Footer */

    #footer{
        height: auto;
        margin: 60px 0 0 0;
        padding-left: 30px;
        flex-direction: column; 
    }
    #footer h2{
        margin-bottom: 0px;
    }   
}
