/* Variables */

:root{
    /*palette_couleurs*/
    --bleu_fonce: #0065FC;
    --bleu_clair: #DEEBFF;
    --gris_1: #f2f2f2;
    --gris_2: #d9d9d9;
}


/* Bloc Principal*/

body{
    font-family: Raleway,sans-serif;
    margin: auto;
    max-width: 1400px; 
}

/* proprietes generales*/

h1, h2{
    font-size: 22px;
    line-height: 26px;
}
h3{
    font-size: 14px;
    line-height: 19px;
}
.fa-solid{
    font-size: 18px;
    color: var(--bleu_fonce);
    width: 30px;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 10px;
    margin-bottom: 40px;
}
.logo{
    height: 23px; 
}
#header ul{
    display: flex;
    list-style: none;
}
#header a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-left: 40px;
    padding: 0 20px 0 20px;
}
#header a:hover{
    color: var(--bleu_fonce);
    border-top: solid 2px;
    padding-top: 44px;
}

/* section Formulaire*/

.formulaire_recherche{
    margin-left: 10px;
}
.localisation_flex{
    display: flex;
}
.fa-location-dot{
    color: black;
    text-align: center;
}
.icone_localisation{
    width: 30px;
    padding: 12px;
    border: 2px solid var(--gris_1);
    border-radius: 15px 0 0 15px;
    background-color: var(--gris_1);
}
.input-submit{
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    background-color: var(--bleu_fonce);
    color:white;
    border: 2px solid var(--bleu_fonce);
    padding: 12px;
}
#choix_localisation{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: black;
    padding: 12px;
    border: 2px solid var(--gris_1);
    margin-left: -5px;
}

/* Filtres de recherche*/

.filtres{
    width: 950px;
    height: 50px;
    margin: 36px 0 38px 0;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtre{
    padding: 15px;
    border: 2px solid var(--gris_2);
    border-radius: 25px;
}
.filtre:hover{
    background-color: var(--bleu_clair);
}

/*Ligne information nb de logements*/

.info_marseille{
    display: flex;
    align-items: center;
}
.fa-info{
    font-size: 12px;
    width: 25px;
    height: 20px;
    border: 2px solid var(--gris_1);
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
}

/*section hébergements*/

#hebergements{
    margin: 39px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    
}
.cards_hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards_hebergements a{
    text-decoration: none;
    color: black;
}
.card_hebergement{
    width: 246px;
    height: 210px;
    background-color: white;
    border-radius: 20px;
    margin:0 0 30px 0; 
}
.hebergements h2{
    margin: 40px 0 25px 40px;
}
.hebergements{
    width: 880px;
    background-color: var(--gris_1);
    border-radius: 20px;
    margin-right: 40px;
}
.hebergements img{
    object-fit: cover;
    width: 235px;
    height: 110px;
    margin: 5px;
    border-radius: 20px 20px 0 0;
}
.hebergements h3{
    margin: 0 0 9px 15px;
}
.hebergements p{
    margin: 0 0 9px 15px;
    font-size: 14px;
}
.afficher_plus{
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 40px 20px;
}

/* hebergements populaires*/

.hebergements_populaires{
    position: relative;
    width: 420px;
    height: 625px;
    background-color: var(--gris_1);
    border-radius: 20px;
}
.hebergements_populaires h2{
    margin: 40px 0 25px 40px;
}
.hebergements_populaires h3{
    margin: 16px 0 9px 15px;
}
.hebergements_populaires p{
    margin: 0 0 9px 15px;
    font-size: 14px;
}
.cards_populaires{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
.cards_populaires a{
    text-decoration: none;
    color: black;
}
.card_populaire_flex{
    display: flex;
}
.card_populaire{
    width: 343px;
    height: 144px;
    border-radius: 20px;
    background-color: white;
    margin: 0 5px 33px 5px;
}
.card_populaire img{
    object-fit: cover;
    width: 130px;
    height: 134px;
    margin: 5px;
    border-radius: 20px 0 0 20px;
}
.fa-chart-line{
    position: absolute;
    top:46px;
    right: 42px;
}

/* activites */

.cards_activites{
    display: flex;
    justify-content: space-between;
}
.card_activite_lien{
    width: 22%;
}
.card_activite{
    width: 100%;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 5px 10px var(--gris_1);
}
.card_activite img{
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activites h2{
    margin: 60px 0 25px 10px;
}
.card_activite h3{
    margin: 10px 0 10px 20px;
}
.cards_activites a{
    text-decoration: none;
    color: black;
}

/* footer */

#footer{
    height: 225px;
    margin-top: 60px;
    padding-top: 45px;
    background-color: var(--gris_1);
    display: flex;
    justify-content: space-around;
}
#footer h2{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
}
#footer ul{
    list-style: none;
    padding: 0;
}
#footer a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin-bottom: 12px;
}
#footer a:hover{
    color: var(--bleu_fonce);
}

/*cotations etoiles*/

.fa-star{
    font-size: 12px;
    color:var(--bleu_fonce);
}
.fa-star-grise{
    color: var(--gris_1);
}
.hebergements_cotation{
    display: flex;
    margin-left: 15px;
}
.hebergements_cotation p{
    margin: 0;
    width: 15px;
}
.cotation_populaire{
    margin-top: 40px;
}