/* Variables */

:root{
    /*palette_couleurs*/
    --bleu_fonce: #0065FC;
    --bleu_clair: #DEEBFF;
    --gris_1: #f2f2f2;
    --gris_2: #d9d9d9;
}

/* Bloc Principal*/

body{
    font-family: Raleway,sans-serif;
    margin: auto;
    max-width: 1400px; 
}

/* proprietes generales*/

h1, h2{
    font-size: 22px;
    line-height: 26px;
}
h3{
    font-size: 14px;
    line-height: 19px;
}
.titre_page{
    margin-left: 15px;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 15px 0 15px;
    margin-bottom: 40px;
}
.logo{
    height: 23px; 
}
#header ul{
    display: flex;
    list-style: none;
}
#header a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-left: 40px;
    padding: 0 30px 0 30px;
}
#header a:hover{
    color: var(--bleu_fonce);
    border-top: solid 2px;
    padding-top: 44px;
}

/* section Formulaire*/

.formulaire_recherche{
    margin: 30px 0 30px 15px;
}
.localisation_bouton_texte_rechercher{
    display: flex;
}
.localisation_bouton_icone_loupe{
    display: none;
}
.bouton_loupe{
    width: 50px;
    border: 2px solid var(--gris_1);
    border: 2px solid var(--bleu_fonce);
    border-radius: 0 15px 15px 0;
    background-color: var(--bleu_fonce);
}
.fa-magnifying-glass{
color: white;
top: 15px;
left: 330px;
}
.fa-location-dot{
    font-size: 18px;
    color: black;
    margin: 0;
    text-align: center;
}
.icone_localisation{
    width: 30px;
    padding: 12px;
    border: 2px solid var(--gris_1);
    border-radius: 15px 0 0 15px;
    background-color: var(--gris_1);
    text-align: center;
}
.input-submit{
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    background-color: var(--bleu_fonce);
    color:white;
    border: 2px solid var(--bleu_fonce);
    padding: 12px;
}
#choix_localisation{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: black;
    padding: 12px;
    border: 2px solid var(--gris_1);
}

/* Filtres de recherche*/

.fa_filtres{
    font-size: 18px;
    color: var(--bleu_fonce);
    margin-right: 10px;
}
.filtres{
    max-width: 100%;
    width: 950px;
    height: 50px;
    margin: 50px 0 38px 15px;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtre{
    padding: 15px;
    border: 2px solid var(--gris_2);
    border-radius: 25px;
}
.filtre:hover{
    background-color: var(--bleu_clair);
}

/*Ligne information nb de logements*/

.info_marseille{
    display: flex;
    align-items: center;
}
.fa-info{
    font-size: 12px;
    width: 25px;
    height: 20px;
    border: 2px solid var(--gris_1);
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
}

/*section hébergements*/

#hebergements{
    display: flex;
    justify-content: space-around;
    
}
.hebergements{
    width: 64%;
    background-color: var(--gris_1);
    border-radius: 20px;
}
.cards_hebergements{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards_hebergements a{
    text-decoration: none;
    color: black;
}
.card_hebergement_lien{
    width: 28%;
}
.card_hebergement{
    width: 100%;
    height: 210px;
    background-color: white;
    border-radius: 20px;
    margin:0 0 30px 0; 
}
.hebergements img{
    object-fit: cover;
    width: 96%;
    height: 125px;
    margin: 2%;
    border-radius: 20px 20px 0 0;
}
.hebergements h2{
    margin: 40px 0 25px 40px;
}
.hebergements h3{
    margin: 0 0 5px 15px;
}
.hebergements p{
    margin: 0 0 5px 15px;
    font-size: 14px;
}
.afficher_plus{
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 40px 20px;
}

/* hebergements populaires*/

.fa-chart-line{
    font-size: 18px;
    color: var(--bleu_fonce);
}
.hebergements_populaires{
    width: 31%;
    position: relative;
    height: 625px;
    background-color: var(--gris_1);
    border-radius: 20px;
}
.hebergements_populaires h2{
    margin: 40px 0 25px 40px;
}
.hebergements_populaires h3{
    margin: 16px 0 9px 15px;
}
.hebergements_populaires p{
    margin: 0 0 9px 15px;
    font-size: 14px;
}
.cards_populaires{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.cards_populaires a{
    text-decoration: none;
    color: black;
}
.card_populaire_lien{
    width: 80%;
}
.card_populaire_flex{
    display: flex;
}
.card_populaire{
    width: 95%;
    height: 144px;
    margin:0 0 30px 0;
    border-radius: 20px;
    background-color: white;
}
.card_populaire_image{
    width: 40%;
}
.card_populaire_texte{
    position: relative;
    width: 60%;
}
.card_populaire img{
    object-fit: cover;
    width: 100%;
    height: 134px;
    margin: 5px;
    border-radius: 20px 0 0 20px;
}

.fa-chart-line{
    position: absolute;
    top:46px;
    right: 4%;
}

/*cotations etoiles*/

.fa-star{
    font-size: 12px;
    color:var(--bleu_fonce);
}
.fa-star-grise{
    color: var(--gris_1);
}
.hebergements_cotation{
    display: flex;
    margin-left: 15px;
}
.hebergements_cotation p{
    margin: 0;
    width: 15px;
}
.cotation_populaire{
    position: absolute;
    bottom: 15px;
    
}

/* activites */

#activites{
    margin: 0 15px 0 15px;
}
.cards_activites{
    display: flex;
    justify-content: space-between;
}
.card_activite_lien{
    width: 22%;
}
.card_activite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 5px 10px var(--gris_1);
}
.card_activite img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activites h2{
    margin: 60px 0 25px 10px;
}
.card_activite h3{
    margin: 0 0 12px 20px;
}
.cards_activites a{
    text-decoration: none;
    color: black;
}

/* footer */

#footer{
    height: 225px;
    margin-top: 60px;
    margin: 60px 15px 0 15px;
    padding-top: 45px;
    background-color: var(--gris_1);
    display: flex;
    justify-content: space-around;
}
#footer h2{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
}
#footer ul{
    list-style: none;
    padding: 0;
}
#footer a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin-bottom: 12px;
}
#footer a:hover{
    color: var(--bleu_fonce);
}

/* Responsive */

/* Tablette */

@media screen and (max-width: 992px)  {
    
    /* page */

    #body{
        margin: 0 30px 0 30px;
    }

    /* Filtres */

    .fa_filtres{
    margin: 0 5px 0 5px;
    }
    .filtres{
        width: 750px;
        font-size: 15px;
    }
    .filtre{
        padding: 8px;
    }

    /* Hebergements */

    #hebergements{
        flex-direction: column;  
    }
    .hebergements{
        width: 100%;
        margin-bottom: 50px;
    }

    /* Hebergements populaires */

    .hebergements_populaires{
        width: 100%;
        height: 280px;
    }
    .cards_populaires{
        width: 100%;
        flex-direction: row;
    }
    .card_populaire_lien{
        width: 29%;
    }
    .card_populaire{
        width: 100%;
    }

    /* Activites */

    .card_activite{
        height: 290px;
    }
    .card_activite img{
        height: 80%;
    }
    .card_activite h3{
        margin: 0 0 5px 20px;
    }
   
}

/* Mobile */

@media screen and (max-width: 768px) {
    
    #body{
        margin: 0;
    }

    /* Header */

    #header{
        flex-direction: column;
        margin-bottom: 0;
    }
    .menu{
        width: 100%;
    }
    #header ul{
        padding: 0;
        margin-top: 40px;
    }
    #header li{
        width: 50%;
        text-align: center;
    }
    #header a{
        display: block;
        margin: auto;
        padding-bottom: 25px;
        border-bottom: solid 2px var(--gris_1);
    }
    #header a:hover{
        border-top: 0;
        border-bottom: solid 2px;
        padding: 0 0 25px 0;
    }

    /* section Formulaire*/

    .localisation_bouton_texte_rechercher{
        display: none;
    }
    .localisation_bouton_icone_loupe{
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }

      /* Filtres */

    .fa_filtres{
    font-size: 16px;
    margin-left: 10px;
    }  
    .filtres{
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        height: auto;
        margin-top: 0;
        margin-left: 0;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    .filtre{
       width: 35%;       
    }
    .filtres_texte{
        width: 100%;
        margin-top: 0;
        font-size: 18px;
        line-height: 21px;
    }
    .info_marseille{
        justify-content: center;
        margin-bottom: 30px;
    }
   
     /* Hebergements */

     #hebergements{
        flex-direction:column-reverse;
        justify-content:flex-start;
        margin: 0; 
    }
    .hebergements{
        width: 100%;
        margin-bottom: 50px;
    }

    /* Hebergements Marseille */

    .hebergements{
        width: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .hebergements h2{
        margin-left: 20px;
    }
    .cards_hebergements{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card_hebergement_lien{
        width: 70%;
    }
    .card_hebergement{
        box-shadow: 0 5px 10px var(--gris_1);
    }
    .afficher_plus{
        display: none;
    }

     /* Hebergements populaires */

     .hebergements_populaires{
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .hebergements_populaires h2{
        margin-left: 20px;
    }
    .cards_populaires{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .card_populaire_lien{
        width: 90%;
    }

    /* Activites */

    #activites{
        margin: 0;
    }
    #activites h2{
        margin-top: 20px;
        margin-left: 20px;
    }
    .cards_activites{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card_activite_lien{
        width: 80%;
        margin-bottom: 25px;
    }
    .card_activite{
        height: 200px;
    }
    .card_activite img{
        height: 70%;
    }
    
    /* Footer */

    #footer{
        height: auto;
        margin: 80px 0 0 0;
        padding-left: 30px;
        flex-direction: column; 
    }
    #footer h2{
        margin-bottom: 0px;
    }
    

    
}
